@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.tilt-card {
  transform-style: preserve-3d;
}

.tilt-card-content {
  transform: translateZ(50px);
}

.grid-overlay {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
}

@layer utilities {
  .main-px {
    @apply px-4 md:px-6 lg:px-8;
  }
}
